.about {
    color: $text-color2;
    background: url('./../img/rectangle_5_copy_203.png') no-repeat;
    background-size: 50% 100%;
    background-color: $button-color;
    height: 623px;
    padding-top: 165px;
    &__info {
        @include flex(flex-end);
    }
    &__text {
        padding-left: 80px;
        max-width: 50%;
    }
    h2 {
        padding-bottom: 25px;
    }
    p {
        font-size: $font-size-xs;
        line-height: 24px;
        padding-bottom: 35px;
    }
    a {
        padding: 15px 30px;
        color: $text-color2;
        border: 1px solid $border-a;
        transition: .3s;
        &:hover {
            background-color: $text-color2;
            color: $button-color;
        }
    }
}