    @include laptop {
        .about {
            height: 100%;
            padding-top: 50px;
            &__text {
                padding-left: 40px;
            }
        }
    }
    
    @include tablet {
        .about {
            background: none;
            background-color: $button-color;
            text-align: center;
            &__info {
                display: block;
            }
            &__text {
                max-width: 100%;
                padding: 0;
            }
        }
    }
    
    @include mobile {
        .about {
            padding-top: 30px;
            h2 {
                padding-bottom: 15px;
            }
            padding-bottom: 25px;
        }
    }