$opensans: 'Open Sans',
sans-serif;
$batman: 'Gotham',
sans-serif;
$lato: 'Lato',
sans-serif;
//-----------------------------------
$breakpoint_xxl: 1210px;
$breakpoint_xl: 1024px;
$breakpoint_l: 768px;
$breakpoint_m: 425px;
$breakpoint_s: 375px;
$breakpoint_xs: 320px;
$header-padding-top:20px;
// ----------------------------------
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 22px;
$font-size-xl: 30px;
$font-size-xxl: 35px;
//-----------------------------------
$header__a-color:#868686;
$bg-color-banner:#709dca;
$button-color:#ffbb42;
$text-color2:white;
$bg-color-price:#e7edf3;
$price__item-top-color:#818b95;
$border-a:#e7ad48;
$price__item-mid-color:#b5bbc1;
$text-color-servises:#394b50;
$footer-color:#394b50;
$border-footer:#e3e7ec;
$reviews__name-color:#f6772c;
//-----------------------------------------------
$uppercase:uppercase;
$wrap:wrap;